<p id="notice"><%= notice %></p>

<h1>新着イラスト</h1>

<table>
  <thead>

  </thead>

  <tbody>
    <% @pictures.reverse_each do |picture| %>
      <tr>
        <%= link_to image_tag(picture_picture_path(picture),{:border => '0',:size=>"300x240"}),"/s17874ty/painter/pictures/#{picture.id}"%>
      </tr>
    <% end %>
  </tbody>

</table>

<br>
<%= link_to 'New Picture', new_picture_path %>
